form {
    display: grid;
    padding: 1em .5em 1.5em 0; //top right bottom left
    background: #EEEEEE;
    margin: 8em auto 0 auto;
    max-width: 475px;
    border-radius: 20px;
  }
  form p{
    margin: 0 0 1em 0;
    grid-column: 1 / 3;
    text-align: center;
  }
  form button {
    background: lightgrey;
    border-radius: 5px;
    padding: 0.7em;
    width: 100%;
    border: 0;
  }
  form button:hover {
    background: dimgray;
  }
  
  label {
    padding: 0.5em 0 0.5em 0;
  }
  
  input {
    padding: 0.5em;
  }

  input:focus {
    outline: 3px solid lightblue;
  }
  
  @media (min-width: 400px) {
    form {
      grid-template-columns: 6em 15em;
      grid-gap: 5px;
    }
  
    label {
      text-align: right;
      grid-column: 1 / 2;
    }
  
    input, button {
      grid-column: 2 / 3;
    } 

    input[type="email"] {
        font-size:14px;
    }
  }//*/