<div class= "logWindow">
    <!--1st-->
    <div class="topbox">
        <p><b>Sign In</b></p>
    </div>
    <!--2nd-->
    <div class="email">
        <label for="email">E-mail:</label>
        <input type="email" placeholder="Enter E-mail" name="email" required>
    </div>
    <!--3rd-->
    <div class="pw">
        <label for="psw">Password:</label>
        <input type="password" placeholder="Enter Password" name="password" required>
    </div>
    <!--4th-->
    <div class="bottombox">
        <button name='login' type='submit' >Login</button>
    </div>
</div>