<div class= "logWindow"><p><b>Sign In</b></p>
    <!--Email Title-->              
    <div class="email">
        <label for="email">E-mail:</label>
    </div>

    <!--Email Input Box-->
    <div>
        <input type="email" name="email" required>
    </div>

    <!--Password Title-->
    <div class="pw">
        <label for="psw">Password:</label>
    </div>

    <!--Password Box-->
    <div>
        <input type="password" name="password" required>
    </div>
    
    <!--Submit Button-->
    <div class="bottombox">
        <button name='login' type='submit' >Login</button>
    </div>
</div>