<mat-toolbar color="primary">Rio 2016 Summer Olympics  
  <div class="buttonContainer">
  <button mat-button [routerLink]="['/']">HOME</button>
  <button mat-button [routerLink]="['/schedule']">SCHEDULE</button>
  <button mat-button [routerLink]="['/events']">EVENTS</button>
  <button mat-button [routerLink]="['/athletes']">ATHLETES</button>
  <button mat-button [matMenuTriggerFor]="menu">MENU</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="['/tickets']">MY TICKETS</button>
    <button mat-menu-item [routerLink]="['/login']">LOGIN</button>
    <button mat-menu-item [routerLink]="['/register']">REGISTER</button>
    <!--In order to add athletes to the roster, or add events there should be a logic to check if the user 
    is logged in and if they are an employee type user-->
  </mat-menu>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>