table{
    width: 100%; 
}
td{
    background-color: beige;
    height: 10em;
    width: 12em;
}
h3{
    margin-top: 2em;
    text-align: center;
}
img{
    position: relative;
    height: 80%;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}
p{
    margin-bottom: 2em;
}