<table class="athletes">
  <tr>
    <td>
      <h3>John Doe</h3>
      <img src="https://cdn.pixabay.com/photo/2015/02/27/17/50/athletes-652493_1280.jpg">
      <ul>
        <li>1/1/1991</li>
        <li>sport</li>
        <li>description</li>
        </ul>
    </td>
    <td>
      <h3>John Doe</h3>
      <img src="https://cdn.pixabay.com/photo/2015/02/27/17/50/athletes-652493_1280.jpg">
      <ul>
        <li>1/1/1991</li>
        <li>sport</li>
        <li>description</li>
      </ul>
    </td>
    <td>
      <h3>John Doe</h3>
      <img src="https://cdn.pixabay.com/photo/2015/02/27/17/50/athletes-652493_1280.jpg">
      <ul>
        <li>1/1/1991</li>
        <li>sport</li>
        <li>description</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>
      <h3>John Doe</h3>
      <img src="https://cdn.pixabay.com/photo/2015/02/27/17/50/athletes-652493_1280.jpg">
      <ul>
        <li>1/1/1991</li>
        <li>sport</li>
        <li>description</li>
      </ul>
    </td>
    <td>
      <h3>John Doe</h3>
      <img src="https://cdn.pixabay.com/photo/2015/02/27/17/50/athletes-652493_1280.jpg">
      <ul>
        <li>1/1/1991</li>
        <li>sport</li>
        <li>description</li>
      </ul>
    </td>
    <td>
      <h3>John Doe</h3>
      <img src="https://cdn.pixabay.com/photo/2015/02/27/17/50/athletes-652493_1280.jpg">
      <ul>
        <li>1/1/1991</li>
        <li>sport</li>
        <li>description</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>
      <h3>John Doe</h3>
      <img src="https://cdn.pixabay.com/photo/2015/02/27/17/50/athletes-652493_1280.jpg">
      <ul>
        <li>1/1/1991</li>
        <li>sport</li>
        <li>description</li>
      </ul>
    </td>
    <td>
      <h3>John Doe</h3>
      <img src="https://cdn.pixabay.com/photo/2015/02/27/17/50/athletes-652493_1280.jpg">
      <ul>
          <li>1/1/1991</li>
          <li>sport</li>
          <li>description</li>
      </ul>
    </td>
    <td>
      <h3>John Doe</h3>
      <img src="https://cdn.pixabay.com/photo/2015/02/27/17/50/athletes-652493_1280.jpg">
      <ul>
          <li>1/1/1991</li>
          <li>sport</li>
          <li>description</li>
      </ul>
    </td>
  </tr>
</table>